asgiref==3.7.2
boto3==1.28.29
botocore==1.31.29
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
cryptography==43.0.1
defusedxml==0.7.1
Django==4.2.15
gunicorn==22.0.0
pycryptodome==3.19.1
PyJWT==2.8.0
pyotp==2.9.0
whitenoise==6.5.0
bcrypt
psycopg2-binary
django-cockroachdb==4.2